extends layout

mixin message(p, r, msg)
  .step.slide(data-x=p[0], data-y=p[1], data-z=p[2],
    data-rotate-x=r[0], data-rotate-y=r[1], data-rotate-z=r[2])
    p= msg

block content
  //- .fallback-message
  //-   p Your browser doesn't support the features required
  .memories-container
    #impress(data-transition-duration="1000")
      mixin message([100, 100], [], "My message")
      mixin message([200, 300], [30, 20, 20], "Some other message")
  .side-bar


  script(src='/js/impress.js')
  script(src='/js/memories.js')
