extends layout

mixin memory(p, r, msg)
  .step.slide.memory-slide(data-x=p[0], data-y=p[1], data-z=p[2], data-rotate-x=r[0], data-rotate-y=r[1], data-rotate-z=r[2])
    p= msg

block append scripts
  script
    setInterval(function(){
      impress().next();
    }, #{ times.read });

block content
  .memories-container
    #impress(data-transition-duration=times.trans)
      for m in memories
        mixin memory(m.pos, m.rot, m.msg)
  .side-bar
    .border
      .arrow.clickable
        i.icon-pencil.icon-large.side-bar-icon
      .arrow-tip
    .content-container
      .content
        .form.form-horizontal.hidden(action='/add')
          .control-group
            .controls
              label What has been your fondest memory from the past year and a half that involves Monstercat or the artists?
          .control-group
            .controls
              label ***Why do you need my e-mail? We will be sending out thank you gifts to certain people who submit unique memories during this campaign!**
          .control-group
            .controls
              input.email.input-filed(type='text',placeholder='Enter your e-mail here')
          .control-group
            .controls
              input.email.input-filed(type='text',placeholder='Name')
          .control-group
            .controls
              textarea.memory-text.input-filed(rows='10',cols='30',placeholder='Submit your own Monstercat Memories here')
          .control-group
            .controls
              button.btn(type='submit') Submit

  script(src='js/components.js')
  script(src='/js/impress.js')
  script(src='/js/memories.js')
  script(src='/js/bootstrap.min.js')
