extends layout

mixin memory(p, r, msg, name)
  - var fsize = "font-size: " + 1/(Math.log(msg.length) / 5) + "em";
  .step.slide.memory-slide(data-x=p[0], data-y=p[1], data-z=p[2], data-rotate-x=r[0], data-rotate-y=r[1], data-rotate-z=r[2])
    .memory(style=fsize)
      p= msg
      hr(style="width: 200px; margin: auto")
      p.name= name

block append scripts
  script
    function doit(){
      setTimeout(function(){
        impress().next();
        setTimeout(function(){
          doit();
        }, #{ times.trans });
      }, #{ times.read });
    };

    //- doit();

block content
  .memories-container
    #impress(data-transition-duration=times.trans)
      for m in memories
        mixin memory(m.pos, m.rot, m.memory, m.name)
  .side-bar
    i.icon-pencil.icon-large.side-bar-icon.clickable
    .content-container
      .content
        form.form-horizontal.hidden.form.memory-form(action='/add',method='post')
          .control-group
            .controls
              h4 What has been your fondest memory from the past year and a half that volves Monstercat or the artists?
          .control-group
            .controls
              input.email.input-filed(type='text',placeholder='Enter your e-mail here',name="email")
          .control-group
            .controls
              input.name.input-filed(type='text',placeholder='Name',name='name')
          .control-group
            .controls
              textarea.memory-text.input-filed(rows='10',cols='30',placeholder='Submit your own Monstercat Memories here',name='memory')
          .control-group
            .controls
              input.btn(type='submit',value='Submit')
          .control-group
            .controls
              h6 *** Why do you need my e-mail? We will be sending out thank you gifts to certain people who submit unique memories during this campaign! ***
    .border
      .arrow.clickable
      .arrow-tip

  script(src='js/components.js')
  script(src='/js/impress.js')
  script(src='/js/memories.js')
